.menu{
    display:flex;
    justify-content: center;
    margin:5px;
    position: relative;
    top: 0;
    width:100vw;
}
.menu Link{
    margin: 5px;
}
.menu button{
margin:5px;
border:1px solid black;
font-size: smaller;
height: 100%;
}

.inicial{
    display: flex;
    flex-direction: column;
    margin:25px;
    align-items: center;
}
.inicial button{
    margin:20px;
    height: 120px;
    width:200px;
}

@media (min-width: 900px) {

}

@media (min-width: 900px) {

    .menu{
        display:flex;
        justify-content: center;
        margin:5px;
        position: relative;
        top: 0;
    }
    .menu Link{
        margin: 5px;
    }
    .menu button{
        height:80px;
        margin:5px;
        border:1px solid black;
        }
        
    .inicial button{
        margin:20px;
        height: 60px;
        width:200px;
    }

}