.prepaginacion{
    text-align: center;
    margin-bottom: 30px;
}
.paginacion{
    margin-top:30px;
    margin-bottom: 0px;
    display:flex;
    justify-content: center;
    overflow: hidden;
    border-radius:50px;
    border:3px solid blanchedalmond;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4eaf3;
}
.prepaginacion p{
    margin:0;
}
.paginacion button{
    width:100%;
    height: 100%;
   
}
.pagina{
    font-size: 30px;
    padding:10px;
}
.pagina input{
    width:40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}
button{
    background-color: #a2dae7;
}