.personaje {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin: 30px;
    justify-content: center;
}
.cardp {
    font-size: 25px;
    display: flex;
    border: 2px solid #f79a0c;
    background: rgb(254,218,165);
    background: radial-gradient(circle, rgba(254,218,165,1) 5%, rgba(123,220,249,1) 60%);
    color: black;
    flex-direction: column;
    padding: auto;
    width: 90wv;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    margin: 7px;
    padding-bottom: 12px;
}

.cardp img {
    width: fit-content;
    max-height: 320px;
    margin: auto;
}

.cardp p {
    margin: auto;
    padding: 0px;
    max-width: 600px;
    color:black;
}

.separador {
    border-top: 1px solid black;
    width: 100px;
}


@media (min-width: 900px) {

    .cardp {
        
        width:800px;
    }
    .cardp {
        padding: auto;
        width: 800px;
        margin:10px;
    }
}