.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin:auto;
    
}

.card {
    font-size: smaller;
    display: flex;
    border: 2px solid rgba(0,0,0,0);
    background: rgb(254,218,165);
    background: radial-gradient(circle, rgba(254,218,165,1) 5%, rgba(123,220,249,1) 60%);
    color: black;
    flex-direction: column;
    width: 180px;
    min-height: 300px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    margin: 7px;
    padding-bottom: 12px;
    box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.5);
}

.card img {
    width: fit-content;
    max-height: 160px;
    margin: auto;
}

.card p {
    margin: auto;
    padding: 0px;
    max-width: 160px;
    color:black;
}

.separador {
    border-top: 1px solid black;
    width: 100px;
}
.card:hover{
color:rgb(124, 16, 16);
text-shadow: 2px 2px 4px black;
border: 2px solid #f79a0c;
box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.6);
}


@media (min-width: 900px) {

    .cards {
        max-width: 1300px;
    }
    .card {
        padding: auto;
        width: 230px;
        margin:7px;
    }
}