.personaje{
    font-size: 40px;
    margin:40px;
}
.cardp {
    display: flex;
    border:2px solid #f79a0c;
    background-color: blanchedalmond;
    color: black;
    flex-direction: column;
    padding: auto;
    width:800px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    margin:7px;
}

.cardp img {
    width: fit-content;
    max-height: 320px;
    margin: auto;
}

.cardp p {
    margin: auto;
    padding: 0px;
    max-width: 600px;
    color:black;
}

.separador {
    border-top: 1px solid black;
    width: 100px;
}